
  
    <div class="container-fluid p-0 m-0" id="post">
        <section class="d-flex justify-content-between" style="border: 4px solid #522921">
            <!--this div is for the header of the posts-->

            

            <div class="container-fluid" style="background-color:#522921; color: white">
                <div class="row p-0 m-0">
                    <div class="col p-0 m-0">
                        <div class="d-flex justify-content-start">
                            <h3>{{title}}</h3>
                        </div>
                        
                    </div>

                    <div class="col p-0 m-0">
                        <div class="d-flex justify-content-end p-0 m-0">
                            <div class="d-inline-flex p-0 m-0">
                               <p>posted by: {{member.username}}</p> 
                               <p>date: {{date_created}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <main class= "m-3"></main>
        
    </div>

