<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UNC Tech Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--style tag for testing only will remove in final draft -->
    <style>
      * { border: 1px solid blue; }
    </style>
</head>

<body>
  <!-- this is the header -->
  <div>
    <!-- this is the nav bar -->
    <div class="container-fluid py-5" style="background-color:#522921">
      <nav class="ml-1">
                <a href="./">Home</a>
                <a href="./dashboard" id = "dashboard">Dasbboard</a>
                {{#if logged_in}}
                <button id="logout" class="btn-no-style">Logout</button>
                
                {{else}}
                <a href="./login">Login</a> <!--will add helper later for the login/logout -->
                {{/if}}
                
      </nav>

      <div class="container-fluid mb-0">
        <h1 style="color:bisque">The Tech blog</h1>
      </div>
    </div>
  
  </div>

  <!--main content-->
  <div>
      <main class="container-fluid bg-white">
        {{{ body }}}
      </main>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>
</html>