<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UNC Tech Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--style tag for testing only will remove in final draft * { border: 1px solid blue; } -->
    <style>
      
     
      
      #logout {
      align-items: normal;
      background-color: rgba(0,0,0,0);
      border-color: rgb(0, 0, 238);
      border-style: none;
      box-sizing: content-box;
      color:#1E90FF; 
      cursor: pointer;
      display: inline;
      font: inherit;
      height: auto;
      padding: 0;
      perspective-origin: 0 0;
      text-align: start;
      transform-origin: 0 0;
      width: auto;
      -moz-appearance: none;
      -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
      -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
    }
    a {
        color: #1E90FF;
      }
    a:hover { color:#00008B; text-decoration: none; font-weight: none }
    #logout:hover { color:#00008B; }

    </style>
</head>

<body>
  <!-- this is the header -->
  <div>
    <!-- this is the nav bar -->
    <div class="container-fluid py-5" style="background-color:#522921">
      <nav class="ml-1">
                <a href="./">Home</a>
                <a href="./dashboard" id = "dashboard">Dasbboard</a>
                {{#if logged_in}}
                <!--<button id="logout" class="btn-no-style"><a href="./">Logout</a></button>-->
                <!--<a href="./" id="logout">Logout</a>-->
                
                <button id="logout"class="btn-no-style">Logout</button>
                
                
                <script src="/js/logout.js"></script>
                {{else}}
                <a href="./login">Login</a> <!--will add helper later for the login/logout -->
                {{/if}}
                
      </nav>
      
      <div class="container-fluid mb-0">
        <h1 style="color:bisque">The Tech blog</h1>
      </div>
    </div>
  
  </div>

  <!--main content-->
  <div>
      <main class="container-fluid bg-white">
        {{{ body }}}
      </main>
  </div>


  
</body>
</html>