<!-- boiler plate code only -->

<section class="d-flex flex-column justify-content-center m-5" "style: min-height: 200px;">
    
    <!--this div aligns all content on page -->
    <!--<div class="d-block">-->
    <section class="d-block">
    <h1>FIRST POST YOU ARE ON DASHBOARDS PAGE</h1>
    <p>for testing purposes</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione impedit nisi debitis totam aut delectus tempore excepturi ea ad iste dolore dolorem labore nulla, aliquid fugiat nobis nihil! Exercitationem, molestiae.</p>
    <p>this code so to build the framework of the website to add the routes before adding other things like login/logout and ORM</p>
    </section>
    
    
    
    
    <!--this div aligns all content on page -->
    <!--<div class="d-block">-->
    <section class="d-block">
    <h1>FIRST POST YOU ARE ON DASHBOARDS PAGE</h1>
    <p>for testing purposes</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione impedit nisi debitis totam aut delectus tempore excepturi ea ad iste dolore dolorem labore nulla, aliquid fugiat nobis nihil! Exercitationem, molestiae.</p>
    <p>this code so to build the framework of the website to add the routes before adding other things like login/logout and ORM</p>
    </section>
    
    
    <section id="main">
        
    </section>

    <button id="newPost" class="btn-no-style">+ New Post</button>
</section>

<script src="./js/dashboard.js"></script>
