<!-- boiler plate code only -->

<section class="d-flex justify-content-center m-5">
    
    <section class="d-block">
    <h1>FIRST POST YOU ARE ON DASHBOARDS PAGE</h1>
    <p>for testing purposes</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione impedit nisi debitis totam aut delectus tempore excepturi ea ad iste dolore dolorem labore nulla, aliquid fugiat nobis nihil! Exercitationem, molestiae.</p>
    <p>this code so to build the framework of the website to add the routes before adding other things like login/logout and ORM</p>
    </section>


</section>

<script src="./js/dashboard.js"></script>
<script src="./js/logout.js"></script>