<section class="d-flex flex-column justify-content-center m-5" "style: min-height: 200px;">
    
    <h2>DASHBOARDSPAGE</h2>
    <section id="main">
          
    {{#each posts as |post|}}
        {{> post-all}}
    {{/each}}
    </section>

    
    <form class="form submit-form">
        <div class="form-group my-3" id="newPost">
          <button class="container-fluid p-2" style="background-color:#5E5B5A; color: white; border-radius: 15px;" type="click">+ New Post</button>
        </div>
    </form>
</section>

<script src="./js/dashboard.js"></script>
