 <!--<section class="d-flex justify-content-center m-5">-->
    <h2>HOME PAGE</h2>
   <section class="d-flex flex-column justify-content-center m-5 main" "style: min-height: 200px;">
    
    {{#each posts as |post|}}
        {{> post-all}}
    {{/each}}
    </section>
<!--</section>-->

<script src="./js/home.js"></script>
