<!-- boiler plate code-->

<section class="testing">
    <h1>testing the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione impedit nisi debitis totam aut delectus tempore excepturi ea ad iste dolore dolorem labore nulla, aliquid fugiat nobis nihil! Exercitationem, molestiae.</p>
    <p>this code so to build the skeleton of the website to add basic funcitonality before adding other things like login and ORM</p>
    
</section>

<script src="./js/home.js"></script>

