<section class="d-flex justify-content-center m-5">
    

    <!-- this code below is simply is copy and paste from my mesh project and was written by me. however only using it temporarily
    as buttons do not work so i can focus on bigger picture stuff and will write my own custom code later-->
    <main class="container-fluid" >
      <!-- All of our views will be placed in that place holder "body" and rendered -->
    <div class="row">
      <!-- this flex column is to help center the login -->
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <h2>Login</h2>
          <form class="form login-form">
            <div class="form-group">
              <label for="username-login">Username:</label>
              <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
              <label for="password-login">Password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      <!-- the sign up form-->
      <div class="col-md-6 px-0 mx-0">
        <div class="d-flex justify-content-center">
          <h2>Signup</h2>
          <form class="form signup-form">
            <div class="form-group">
              <label for="username-signup">Username:</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
          
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Sign-up</button>
            </div>
          </form>
        </div>
      </div>
      <!-- this main tag contains entire content of the login cards-->
    </div>
  </main>

    
    <!--  !!!!!add this code at very end remove code above in final product!!!!
    <div class="container-fluid">
    <section class="d-flex flex-column justify-content-between">

    
    <h3 style="background-color:#522921; color: white">Login</h3>

    
      <form class="form login-form" id="login-form">
        <div class="form-group">
          <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
          <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
 
          <button class="container-fluid p-2" style="background-color:#5E5B5A; color: white" type="submit">Login!</button>
            
            
        </form>

        <div class="form-group my-3" id="signUp-form">
              <button class="btn btn-primary" type="submit">Sign-up</button>
            </div>
    
    </section>
    </div>
    -->

</section>

<script src="./js/login.js"></script>