<section class="d-flex justify-content-center m-5">
    

   

    
    <div class="container-fluid">
    <section class="d-flex flex-column justify-content-between" style="border: 4px solid #522921">

    
    <h3 style="background-color:#522921; color: white">Login</h3>
    <!--this div below is just for spacing only -->
    <div class="mx-4">
      <!--this div above is just for spacing only -->
      <form class="form login-form" id="login-form">
        
        <div class="form-group">
          <label for="username-login">Username:</label>
            <input class="form-input container-fluid" type="text" id="username" />
        </div>
        
        

       
        <div class="form-group" >
            <label for="password-login">Password:</label>
            <input class="form-input container-fluid" type="password" id="password"/>
        </div>
        
        <button class="container-fluid p-2" style="background-color:#5E5B5A; color: white; border-radius: 15px;" type="submit">Login!</button>
            
            
      </form>

      <form class="form submit-form" id="submit-form">
        <div class="form-group my-3">

          <button class="container-fluid p-2" style="background-color:#5E5B5A; color: white; border-radius: 15px;" type="submit" id="signup-button">Sign up instead</button>
        </div>
      </form>
        
    
    </div>
    </section>
    </div>
    

</section>

<script src="./js/login.js"></script>